body {
    font-family: sans-serif;
    position: absolute;
    left: 100px;
    background-color: azure;
}

h1 {
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}

img {
    max-height: 250px;
    max-width: 315px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;
    filter: grayscale(0%);
}

#pic5 {
    height: 283px;
}

#pic4 {
    height: 283px;
}

#pic1 {
    height: 283px;
    width: 425px;
}

#pic3 {
    width: 425px;
    height: 283px;
}

#pic2 {
    height: 283px;
    width: 425px;
}

#pic6 {
    height: 283px;
    width: 425px;
}

#pic7 {
    height: 283px;
    width: 425px;
}

#pic8 {
    height: 283px;
    width: 425px;
}

#pic9 {
    height: 283px;
    width: 425px;
}

#pic10 {
    height: 283px;
    width: 425px;
    padding-left: 349px;
}

.gallery {
    margin: 10px 50px;
}

.size {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 1120px;
}

.container {
    width: 1014px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px 15px;
}


/*.gallery img {
    width: 30px;
    padding: 10px;
}*/

img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}