body {
    margin: 0 auto;
    padding: 0;
}

header {
    border: 1px solid red;
}

h1 {
    font-size: 50px;
    padding: 15px;
}

h2 {
    padding: 10px;
}

p {
    padding: 5px;
    line-height: 25px;
    text-align: justify;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    height: 400px;
    width: 95%;
}

#slider figure img {
    width: 20%;
    height: 465px;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}

footer {
    border: 1px solid blue;
    height: 80px;
    margin-bottom: 10px;
}