/*****************img style more****************/

#edit1 {
    width: 350px;
    padding: 10px;
}

@media(max-width:770px) {
    #edit1 {
        width: 315px;
        padding: 15px;
    }
    #edit2 {
        width: 315px;
        padding: 15px;
    }
}

@media(max-width:312px) {
    #edit1 {
        width: 270px;
    }
    #edit2 {
        width: 270px;
    }
}


/*************emailstylelink*******************/

#hj {
    padding: 10px;
    text-decoration: none;
    color: white;
}

#hj1 {
    padding: 10px;
    text-decoration: none;
    color: blue;
}


/***********contact*******/

.contat {
    background-color: aquamarine;
}


/***************this is nav bar styling******************/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(img/bg3.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(4, 6, 71, 0.884);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgba(4, 14, 59, 0.822);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(245, 224, 196);
    font-size: 18px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(12, 15, 58);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width:770px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav ul {
        max-height: 0px;
        background: rgb(103, 115, 172);
        opacity: 0.5;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 44em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
    header {
        width: 100%;
        height: 100vh;
    }
}


/******************article********/

.article {
    background-color: #dfebee;
}


/******************video style***********************************/

#para {
    letter-spacing: 5px;
    line-height: 35px;
    font-size: 17px;
}

#para1 {
    letter-spacing: 5px;
    line-height: 35px;
    font-size: 17px;
}

video {
    width: 85%;
    padding-left: 250px;
}

@media screen and (max-width:1028px) {
    video {
        width: 85%;
        padding-left: 150px;
    }
}

@media screen and (max-width:769px) {
    video {
        width: 85%;
        padding-left: 100px;
    }
}

@media screen and (max-width:360px) {
    video {
        width: 85%;
        padding-left: 50px;
    }
}


/**********************map*****************************/

#mp {
    text-align: center;
}

@media screen and (max-width:635px) {
    iframe {
        width: 95%;
    }
}

@media screen and (max-width:450px) {
    iframe {
        width: 95%;
        /*padding-left: 5px;*/
    }
}


/*******************slider styling*****************************/

@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.flexslider {
    width: 100%;
    /*margin-top: 20px;*/
    position: relative;
}

.slides {
    width: 100%;
    overflow: hidden;
    height: 505px;
}

.slides img {
    width: 100%;
    height: 500px;
}

@media screen and (max-width:750px) {
    .slides img {
        width: 100%;
        height: 400px;
    }
    .slides {
        height: 410px;
    }
}

@media screen and (max-width:505px) {
    .slides img {
        width: 100%;
        height: 250px;
    }
    #edit1 {
        width: 310px;
    }
    .flex-control-nav li {
        opacity: 0.01;
    }
    .slides {
        height: 265px;
    }
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-control-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    z-index: 999;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a {
    display: block;
    background: #777777;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
}

.flex-control-nav li a:hover {
    background: lightblue;
}

.flex-control-nav li a.flex-active {
    background: rgba(153, 216, 231, 0.562);
}

.flex-direction-nav a {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flex-direction-nav .flex-next {
    right: 0;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: #fff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
    content: '\f002';
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}


/*****more information stylings**************/

#info {
    text-align: center;
}

p {
    padding: 15px;
    line-height: 23px;
    text-align: justify;
    font-size: 18.5px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.context {
    background-color: #d6f2f8;
}


/********************this is footer styling***********************/

.info-container {
    width: 100%;
    background: #dfebee;
    font-family: Raleway;
}

.info-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px 200px;
}

.info-main h3 {
    color: #00c6EE;
    font-size: 40px;
    text-align: center;
}

.info-main p {
    padding: 20px 0;
}

.info-main a {
    display: inline-block;
    background: #bf0026;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
}

footer {
    width: 100%;
    font-family: raleway;
}

.footer-container {
    width: 100%;
    background: #272727;
    color: #fff;
}

.footer-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-main .footer-column {
    width: calc(100% / 3);
    text-align: justify;
}

.footer-main .footer-column:nth-child(2) {
    padding: 0 20px;
}

.footer-main .footer-column h3 {
    font-size: 32px;
    color: #00c6ee;
    margin-bottom: 20px;
}

.footer-main .footer-column span p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Raleway;
}

.footer-copy-socialmedia {
    width: 100%;
    background: #000;
    border-top: 3px solid #fff;
}

.main-copy-socialmedia {
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.main-copy-socialmedia .footer-copy {
    width: 70%;
    color: white;
}

.main-copy-socialmedia .footer-copy-socialmedia {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-copy-socialmedia .footer-copy-socialmedia a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    color: black;
    text-align: center;
}

.footer-socialmedia {
    font-size: 28px;
}

@media screen and (max-width:750px) {
    .info-main {
        padding: 30px 100px;
    }
    .footer-main .footer-column {
        padding: 0 10px;
    }
    .footer-main .footer-column h3 {
        font-size: 28px;
    }
    .footer-main .footer-column p {
        font-size: 14px;
    }
}

@media screen and (max-width:640px) {
    .info-main {
        padding: 30px 30px;
    }
    .info-main h3 {
        font-size: 30px;
    }
    .footer-main {
        padding: 10px 0;
    }
    .footer-main .footer-column {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .footer-main .footer-column h3 {
        margin-bottom: 5px;
    }
    .footer-main .footer-column span {
        display: block;
    }
    .main-copy-socialmedia .footer-copy {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .main-copy-socialmedia .footer-copy-socialmedia {
        width: 80%;
        margin: auto;
    }
}